<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="
           http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context.xsd
           http://www.springframework.org/schema/aop
           http://www.springframework.org/schema/aop/spring-aop.xsd">

    <!-- exercise 6: component scanning, picks up @Service / @Repository annotated classes -->
    <context:component-scan base-package="com.library" />

    <!-- exercise 3 & 8: turn on @Aspect support so LoggingAspect gets applied -->
    <aop:aspectj-autoproxy />

    <!-- left the manual bean defs in here too (exercise 1, 2, 5, 7) since component-scan
         already creates bookService/bookRepository beans, these are just for reference on
         how constructor + setter injection would look wired by hand -->
    <!--
    <bean id="bookRepository" class="com.library.repository.BookRepository" />

    <bean id="bookService" class="com.library.service.BookService">
        <constructor-arg ref="bookRepository" />
        <property name="bookRepository" ref="bookRepository" />
    </bean>
    -->

    <!-- manual aspect registration, kept as a comment since aspectj-autoproxy + @Aspect
         already takes care of it - uncomment if you drop the annotation
    <bean id="loggingAspect" class="com.library.aspect.LoggingAspect" />
    -->

</beans>
